a {
    text-decoration: none;
}
ul.admin-menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
}
.admin-menu .admin-menu-item {
    padding: 10px 20px;
    color: #000;
    font-size: large;
    font-weight: bold;
}
.admin-menu .admin-menu-item a {
    text-decoration: none;
    color: #000000;
}
.admin-menu .admin-menu-item.active{
    color: #000000;
    background-color: #fcb116;
    border-radius: 5px;
}
.admin-menu .admin-menu-item:hover {
    color: #000000;
    background-color: #fcb116;
    border-radius: 5px;
    transition: 0.3s;
}
  
.admin-content .fcontent {
    display: none;
}
.admin-content .fcontent.active {
    display: block;
}

/*===============================Quan ly danh muc==============================*/

.admin-form{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-family: monospace;
}
.admin-table {
width: 78%;
margin: auto;
/* text-align: center; */
box-shadow: 10px 10px 20px var(--backgroundcolor-main);
}
.admin-table tr th {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: var(--main-color);
}
.admin-table tr td {
    text-align: left;
    font-size: large;
    padding: 5px ;
}
.admin-table tr,.admin-table tr th, .admin-table tr td, .admin-table{
border: 1px solid #fcb116;
}
.admin-table tr td label {
    
}
.admin-table tr td input {
padding: 5px 10px;
outline: none;
border: none;
cursor: text;
}
.admin-table tr td button {
    width: 100%;
}
.admin-table tr td.table-option{
height: 100%;
display: flex;
justify-content: space-around;
align-items: flex-end;
padding-top: 28px;
}
.admin-table tr td.table-option button{
width: 25%;
height: 20%;
}

.messs {
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bolder;
    color: var(--main-color);
    text-shadow: 10px -10px 50px var(--main-color);
}


/*=============================MODAL================*/

.admin-modal {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

.add-form {
    width: 50%;
    background-color: var(--backgroundcolor-main);
    margin:10% auto ;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
  }

  .add-form .title{
    font-size: xx-large;
    font-weight: bold;
    font-family: monospace;
    padding: 20px;

  }
  .add-form input{
    text-align: left;
    outline: none;
    border: none;
    padding: 10px 20px;
    width: 80%;
    border-radius: 10px;
  }
  .add-form button {
    width: 50%;
    margin: auto;
  }